.units a {
  font-size: 25px;
  text-decoration: none;
  font-weight: 300;
  color: rgb(163, 162, 162);
  margin: 0;
}
.units a:active {
  text-decoration: underline;
  font-weight: 500;
  color: rgb(163, 162, 162);
}